.menu {
  width: 50%;

  position: absolute;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -30%);
}

.menu-btn {
  display: block;

  width: 100%;
  margin-bottom: 1.5vmin;
}

.menu-btn:last-child {
  margin-bottom: 0;
}

/* media */

@media screen and (max-width: 1920px){
  .menu {
    width: 60%;
  }
}

@media screen and (max-width: 1024px){
  .menu {
    width: 70%;
  }
}

@media screen and (max-width:  480px){
  .menu {
    width: 90%;
  }
}

